nav{
    background-color: rgb(12, 8, 15);
    height: 60px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li{
    float: left;
}
nav li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    line-height: 2;
}
#dropbutton{
    background-color: rgb(32, 8, 8);
    position: absolute;
    z-index: 1;
    display: none;
}
#dropbutton a {
    color: white;
    display: block;
}
#dropdown:hover #dropbutton{
    display: block; <--- pour quil marche quand on met la souris sur li quon veut afficher-->
}
nav li a:hover{
    color: white;
    background-color: red;
}